.container-award-section-main {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
}

.container-award-section {
  width: 100%;
  max-width: 1150px;
}

.container-title-award {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.container-title-award h3 {
  font-weight: 550;
  font-size: 20px;
}

.container-title-award a {
  text-decoration: none;
  color: #a0d755;
  font-size: 15px;
  cursor: pointer;
}

.container-title-award a:hover {
  text-decoration: underline;
}

.container-award-rank-movie-main {
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  padding: 0 30px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.container-award-rank-movie {
  width: 100%;
  max-width: 1150px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.award-container {
  width: 100%;
}

.award-container h4 {
  font-weight: 500;

  margin-bottom: 10px;
}

.box-award-movie {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.container-detail-award {
  width: 100%;
  height: 130px;
}

.container-detail-award img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 20%;
}

@media (max-width: 550px) {
  .award-container {
    width: 100%;
  }
}
