.container-award-section-main {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
}

.container-award-section {
  width: 100%;
  max-width: 1150px;
}

.container-title-award {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.container-title-award h3 {
  font-weight: 550;
  font-size: 20px;
}

.container-title-award a {
  text-decoration: none;
  color: #a0d755;
  font-size: 15px;
  cursor: pointer;
}

.container-title-award a:hover {
  text-decoration: underline;
}

.container-award-rank-movie-main {
  width: 100%;

  display: flex;
  justify-content: center;
  padding: 0 30px;
  padding-top: 20px;
  padding-bottom: 30px;
  position: relative;
}

.container-award-rank-movie {
  width: 100%;
  max-width: 1150px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.award-container,
.award-container-two {
  width: 100%;
}

.award-container h4,
.award-container-two h4 {
  font-weight: 500;
  margin-bottom: 10px;
}

.box-award-movie {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.container-detail-award {
  width: 100%;
  height: 130px;
  background-color: gray;
  box-shadow: 0 0 5px 0px rgb(70, 66, 66);
  position: relative;
  overflow: hidden;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.container-detail-award:hover {
  transform: scale(1.05);
}

.container-detail-award img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 20%;
}

.box-background {
  width: 150px;
  height: 200px;
  background-color: rgb(0, 0, 0, 0.6);
  position: absolute;
  top: -20px;
  right: -10px;
  transform: rotate(10deg);
}

.container-detail-award h1 {
  position: absolute;
  top: -3px;
  right: 25px;
  color: white;
  font-size: 55px;
}

.container-detail-award span {
  position: absolute;
  top: 70px;
  right: 25px;
  color: white;
  font-family: inter;
  font-style: italic;
  font-weight: 300;
  font-size: 13px;
}

.container-detail-award p {
  position: absolute;
  top: 85px;
  right: 25px;
  color: white;
  font-size: 25px;
  font-weight: 550;
  width: 70%;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 600px) {
  .award-container-two {
    display: none;
  }
}
