.container-list-main {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid black;
  padding-top: 30px;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 20px;
}

.container-list-header {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.back-to-list {
  width: 30px;
  height: 30px;
  display: flex;
  padding: 8px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #e6e6e6;
}

.back-to-list:hover {
  background-color: #b45a82;
}

.back-to-list img {
  width: 100%;
  height: 100%;
}

.container-list-header div:last-child h2 {
  font-weight: 550;
}

.container-list-header div:last-child h2 span {
  font-size: 13px;
  font-weight: 450;
  color: #6a6a6a;
  font-family: inter;
  margin-left: 5px;
}

.container-list-header div:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-select button {
  font-size: 14px;
  background-color: transparent;
}

.line-btn {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: 1px solid #b45a82;
  border-right: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 5px;
  cursor: pointer;
}

.grid-btn {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 1px solid #b45a82;
  border-left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 10px;
  cursor: pointer;
}

.line-btn.select,
.grid-btn.select {
  background-color: #b45a82;
  font-weight: 500;
  color: white;
  cursor: unset;
}

.grid-btn.not-select,
.line-btn.not-select {
  box-shadow: inset 0 0 3px 0 gray;
  transition: box-shadow 0.2s;
}

.grid-btn.not-select:hover,
.line-btn.not-select:hover {
  box-shadow: inset 0 0 6px 0 #b45a82;
}

.container-item-in-list-line {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 15px;
}

.container-item-in-list-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 600px;
  margin-top: 15px;
  gap: 15px;
}

.container-item-in-list-grid .item-movie {
  height: 180px;
}

.container-item-in-list-grid .container-add-date h2 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.item-movie {
  width: 100%;
  height: 150px;
  box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.488);
  border-radius: 15px;
  background-color: #e7e7e7;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.background-image,
.background-image-not-hover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 20%;
  border-radius: 15px;
  transition:
    width 0.2s,
    height 0.2s;
}

.item-movie:hover .background-image {
  width: 105%;
  height: 105%;
}

@keyframes increaseBackground {
  0% {
    background-color: rgba(0, 0, 0, 0.43);
  }

  100% {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@keyframes decreaseBackground {
  0% {
    background-color: rgba(0, 0, 0, 0.7);
  }

  100% {
    background-color: rgba(0, 0, 0, 0.43);
  }
}

.background-layer-item-movie {
  background-color: rgba(0, 0, 0, 0.43);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 15px;
}

.background-layer-item-movie.open {
  animation: increaseBackground 0.5s ease-in-out forwards;
}

.background-layer-item-movie.close {
  animation: decreaseBackground 0.5s ease-in-out forwards;
}

.container-add-date {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

@keyframes downOpacity {
  0% {
    color: white;
  }

  100% {
    color: rgba(255, 255, 255, 0.5);
  }
}

@keyframes addOpacity {
  0% {
    color: rgba(255, 255, 255, 0.5);
  }

  100% {
    color: white;
  }
}

.container-add-date h2 {
  color: white;
  font-weight: 560;
  font-size: 18px;
  width: 60%;
  flex-wrap: wrap;
}

.container-add-date.open h2 {
  animation: downOpacity 0.5s ease-in-out forwards;
}

.container-add-date.close h2 {
  animation: addOpacity 0.5s ease-in-out forwards;
}

.container-add-date p {
  color: white;
  font-family: inter;
  font-weight: 450;
  margin-bottom: -1px;
}

.container-add-date.open p {
  animation: downOpacity 0.5s ease-in-out forwards;
}

.container-add-date.close p {
  animation: addOpacity 0.5s ease-in-out forwards;
}

.container-add-date p span {
  font-style: italic;
  font-weight: 300;
  font-size: smaller;
}

@keyframes opacityToZero {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes opacityToOne {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.btn-option-delete {
  display: flex;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.btn-option-delete.open {
  animation: opacityToZero 0.5s ease-in-out forwards;
}

.btn-option-delete.close {
  animation: opacityToOne 0.5s ease-in-out forwards;
}

.btn-option-delete img {
  width: 23px;
  height: 23px;
  object-fit: cover;
}

.container-popup-delete {
  position: absolute;
  top: 25%;
  right: 3%;
  flex-direction: column;
  padding: 5px 0;
  background-color: white;
  border-radius: 5px;
}

.container-popup-delete button:first-child {
  border-top: 1px solid gray;
}

.container-popup-delete button {
  border: none;
  border-bottom: 1px solid gray;
  font-size: 14px;
  font-family: inter;
  padding: 5px 10px;
  background-color: white;
  text-align: start;
  cursor: pointer;
}

.container-popup-delete button:hover {
  background-color: #b45a82;
  color: white;
}

@keyframes moveUpDelete {
  0% {
    transform: translateY(110px);
    width: 50px;
  }

  100% {
    transform: translateY(0);
    width: 210px;
  }
}

@keyframes moveDownDelete {
  0% {
    transform: translateY(0px);
    width: 210px;
  }

  100% {
    transform: translateY(110px);
    width: 50px;
  }
}

.container-select-delete-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-btn {
  display: flex;
  background-color: white;
  padding: 5px 20px;
  border-radius: 50px;
  align-items: center;
  gap: 10px;
  box-shadow: 0 1px 5px 1px rgba(127, 127, 127, 0.362);
  overflow: hidden;
  width: 210px;
  justify-content: center;
}

.container-btn.open {
  animation: moveUpDelete 0.5s ease-in-out forwards;
}

.container-btn.close {
  animation: moveDownDelete 0.5s ease-in-out forwards;
}

.container-btn p {
  font-family: inter;
  font-size: 20px;
  margin-right: 10px;
}

.container-btn button:nth-child(2) {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #b45a82;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.container-btn button:nth-child(2) img {
  width: 15px;
  height: 15px;
}

.container-btn button:nth-child(2):hover {
  background-color: #813e5c;
}

.container-btn button:nth-child(3) {
  border: none;
  font-family: inter;
  padding: 8px 13px;
  border-radius: 50px;
  cursor: pointer;
  margin-right: -10px;
  background-color: #e6e6e6;
  transition: background-color 0.2s;
}

.container-btn button:nth-child(3):hover {
  background-color: rgb(184, 184, 184);
}

.container-btn button:nth-child(4) {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  margin-right: -15px;
}

.container-btn button:nth-child(4) img {
  width: 30px;
  height: 30px;
}

.checkbox-delete {
  position: absolute;
  top: 10px;
  left: 10px;

  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;

  border-radius: 4px;
}

.checkbox-delete.open {
  animation: opacityToOne 0.5s ease-in-out forwards;
}

.checkbox-delete.close {
  animation: opacityToZero 0.5s ease-in-out forwards;
}

.checkbox-delete img {
  width: 50%;
  height: 50%;
  display: none;
}

@media (max-width: 470px) {
  .item-movie {
    height: 130px;
    background-color: #e6e6e6;
  }

  .container-list-header div:last-child h2 {
    font-size: 20px;
  }

  .container-add-date h2 {
    font-size: 15px;
  }

  .container-add-date p {
    font-size: 13px;
  }

  .container-add-date p span {
    font-size: 12px;
  }

  .container-item-in-list-grid .container-add-date h2 {
    font-size: 14px;
  }

  .container-item-in-list-grid .container-add-date p {
    font-size: 11px;
  }

  .container-item-in-list-grid .container-add-date p span {
    font-size: 10px;
  }

  .container-popup-delete {
    top: 30%;
    right: 4%;
  }
}
