@keyframes moveUp {
  0% {
    transform: translateY(100px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100px);
  }
}

@keyframes increaseBackground {
  0% {
    background-color: rgba(0, 0, 0, 0.43);
  }

  100% {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@keyframes decreaseBackground {
  0% {
    background-color: rgba(0, 0, 0, 0.7);
  }

  100% {
    background-color: rgba(0, 0, 0, 0.43);
  }
}

@keyframes downOpacity {
  0% {
    color: white;
  }

  100% {
    color: rgba(255, 255, 255, 0.5);
  }
}

@keyframes addOpacity {
  0% {
    color: rgba(255, 255, 255, 0.5);
  }

  100% {
    color: white;
  }
}

@keyframes opacityToZero {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes opacityToOne {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes moveUpDelete {
  0% {
    transform: translateY(110px);
    width: 50px;
  }

  100% {
    transform: translateY(0);
    width: 210px;
  }
}

@keyframes moveDownDelete {
  0% {
    transform: translateY(0px);
    width: 210px;
  }

  100% {
    transform: translateY(110px);
    width: 50px;
  }
}
