.container-trending-section-main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  padding: 0 30px;
}

.container-trending-section {
  display: flex;
  width: 100%;
  justify-content: start;
  max-width: 1170px;
}

.container-trending-section h3 {
  font-weight: 550;
  font-size: 22px;
}

.container-movie-trending-main {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 15px;
  padding: 0 30px;
}

.container-movie-trending {
  display: flex;
  width: 100%;
  max-width: 1170px;
  gap: 20px;
  padding: 10px 1px;
  overflow-x: scroll;
  justify-content: space-between;
  scrollbar-width: none;
}

.movie-trending {
  display: flex;
  width: 373px;
  gap: 20px;
  box-shadow: 0 0 2px 0 black;
  border-radius: 10px;
  padding: 15px;
  flex-shrink: 0;
  cursor: pointer;
  transition: background-color 0.2s;
}

.movie-trending:hover {
  background-color: rgb(245, 245, 245);
}

.movie-trending img {
  width: 80px;
  border-radius: 5px;
}

.movie-trending h2 {
  font-family: inter;
  font-size: 40px;
}

.container-vote {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 10px;
}

.container-vote p {
  font-weight: 550;
  font-size: 18px;
}

.container-vote span {
  color: #666;
  font-size: 14px;
}

.line-score {
  margin-top: 10px;
  width: 100%;
  height: 3px;
  box-shadow: inset 0 0 2px 0 gray;
  border-radius: 1px;
}

.line-score-rate {
  width: 90%;
  height: 3px;
  background-color: #a0d755;
  border-radius: 1px;
}
