@keyframes moveUp {
  0% {
    transform: translateY(100px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100px);
  }
}

.container-my-list-main {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid black;
  padding-top: 50px;
  flex-direction: column;
}

.container-my-list-hear {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 600px;
}

.container-my-list-hear h2 {
  font-weight: 550;
}

.container-my-list-hear img {
  width: 10px;
  height: 10px;
}

.container-my-list-hear button {
  display: flex;
  border: none;
  background-color: #b45a82;
  border-radius: 50px;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: white;
  padding: 0 9px;
  gap: 3px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.container-my-list-hear button:hover {
  background-color: #7f3e5b;
}

.container-list-items {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 15px;
}

.list-items {
  display: flex;
  padding: 10px;
  box-shadow: 0 0 3px 0.5px gray;
  border-radius: 10px;
  gap: 10px;
  position: relative;
  cursor: pointer;
}

.list-detail {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.list-detail h4 {
  font-weight: 550;
}

.list-detail h4 span {
  color: #989898;
  font-weight: normal;
  font-size: 11px;
  margin-left: 5px;
}

.list-items p {
  color: #989898;
  font-family: inter;
  font-size: 13.5px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: 50px;
}

.box-image {
  width: 120px;
  height: 120px;

  flex-shrink: 0;
}

.box-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.no-have-list {
  height: 130px;
  width: 100%;
  box-shadow: 0 0 3px 0.5px gray;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #989898;
  font-weight: bold;
  font-size: 40px;
  border-radius: 10px;
}

.edit-list-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.2s;
  border: none;
  display: flex;
  padding: 2px;
  background-color: transparent;
}

.edit-list-btn img {
  width: 24px;
  height: 24px;
}

.edit-list-btn:hover {
  background-color: #b45a8346;
}

.tooltip-edit {
  position: absolute;
  right: 10px;

  flex-direction: column;
  top: 40px;
  box-shadow: 0 0 2px 0.5px gray;
}

.tooltip-edit button {
  border: none;
  background-color: white;
  font-size: 13px;
  text-align: start;
  cursor: pointer;
  padding: 4px 15px;
  font-weight: 500;
}

.tooltip-edit button:hover {
  background-color: #b45a82;
  color: white;
}

.tooltip-edit button:nth-child(1) {
  border-bottom: 1px solid gray;
}

.overlay-create-new-list {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.1);
  display: none;
  justify-content: center;
  padding: 0 20px;
  align-items: center;
}

/* this is style for popup -----------------*/

.container-popup-create-list {
  background-color: white;
  width: 100%;
  height: 220px;
  z-index: 999;
  max-width: 500px;
  border-radius: 15px;
  box-shadow: 0 1px 5px 0.8px gray;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
}

.container-popup-create-list.open {
  animation: moveUp 0.1s ease-in-out forwards;
}

.container-popup-create-list.close {
  animation: moveDown 0.1s ease-in-out forwards;
}

.container-popup-create-list div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-popup-create-list div h4 {
  font-weight: 550;
}

.container-popup-create-list div button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
  background-color: transparent;
}

.container-popup-create-list div img {
  width: 18px;
  height: 18px;
}

.container-popup-create-list form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-popup-create-list form p {
  font-family: inter;
  font-size: 15px;
}

.container-popup-create-list form button {
  border: none;
  background-color: #b45a82;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-weight: 550;
  cursor: pointer;
  transition: background-color 0.2s;
}

.container-popup-create-list form button:hover {
  background-color: #7f3e5b;
}

.container-popup-create-list input {
  font-size: 15px;
  padding: 12px;
  font-family: inter;
  border-radius: 50px;
  border: none;
  font-size: 12px;
  box-shadow: inset 0 0 2px 0px gray;
}

.container-popup-create-list input::placeholder {
  color: #989898;
}

/* this style for item in list ----------------*/

.container-item-in-list {
  width: 100%;
  max-width: 600px;
  display: none;
  flex-direction: column;
  margin-top: 20px;
  gap: 15px;
}

.item-movie {
  width: 100%;
  height: 150px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.488);
  border-radius: 15px;
  background-color: #e7e7e7;
  position: relative;
  cursor: pointer;
}

.item-movie img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 20%;
  border-radius: 15px;
}

.background-layer-item-movie {
  background-color: rgba(0, 0, 0, 0.43);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 15px;
}

.container-add-date {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px 10px;
  width: 60%;
}

.container-add-date h2 {
  color: white;
  font-weight: 560;
  font-size: 18px;
  width: 100%;
  flex-wrap: wrap;
}

.container-add-date p {
  color: white;
  font-family: inter;
  font-weight: 450;
  margin-bottom: -1px;
}

.container-add-date p span {
  font-style: italic;
  font-weight: 300;
  font-size: smaller;
}

.btn-option-delete {
  display: flex;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.btn-option-delete img {
  width: 23px;
  height: 23px;
  object-fit: cover;
}

@media (max-width: 470px) {
  .item-movie {
    height: 130px;
  }

  .container-add-date h2 {
    font-size: 15px;
  }

  .container-add-date p {
    font-size: 13px;
  }

  .container-add-date p span {
    font-size: 12px;
  }
}
