@keyframes loop {
  0% {
    transform: translateX(-700px);
  }

  100% {
    transform: translateX(100vw);
  }
}

.container-footer {
  margin-top: 150px;
  background-color: #333333;
  width: 100%;
  display: flex;
  padding: 0 30px;
  flex-direction: column;
  align-items: center;
}

.header-footer {
  width: 100%;
  max-width: 1150px;
  display: flex;
  justify-content: space-between;

  padding: 10px 0;
}

.left-head-footer {
  display: flex;
  flex-direction: column;
}

.left-head-footer h3 {
  color: white;
  font-weight: 500;
}

.left-head-footer span {
  font-family: inter;
  color: #a0d755;
  font-size: small;
  text-decoration: underline;
  cursor: pointer;
}

.right-head-footer {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.right-head-footer p {
  color: #9d9d9d;
  font-size: small;
  text-align: end;
}

.right-head-footer div {
  display: flex;
  gap: 20px;
}

.right-head-footer div span {
  color: white;
  font-size: small;
  cursor: pointer;
}

.right-head-footer div span:hover {
  text-decoration: underline;
}

.container-video-movie {
  background-color: #333333;
  padding-top: 15px;
  padding-bottom: 15px;
  overflow: hidden;
  display: flex;
}

.container-video-movie h1 {
  font-size: 100px;
  letter-spacing: 100px;
  animation: loop 8s linear infinite;
}

@media (max-width: 520px) {
  .header-footer {
    flex-direction: column;
    gap: 10px;
  }

  .header-footer p {
    text-align: start;
  }
}
