.container-header-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 0 10px;
}

.container-header {
  display: flex;
  max-width: 1150px;
  padding: 10px 0px;
  width: 100%;
  justify-content: space-between;
}

.header-left-section {
  display: flex;
  align-items: center;
  gap: 50px;
}

.link-home-page {
  text-decoration: none;
  color: black;
}

.box-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.box-logo img {
  width: 35px;
  height: 35px;
  margin-top: -10px;
}

.box-logo p {
  font-weight: 550;
  font-size: 16px;
  margin-left: -4px;
}

.box-logo p span {
  font-size: 21px;
}

.container-select-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.container-select-section button {
  font-weight: 500;
  border: none;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
  background: transparent;
  position: relative;
}

.container-select-section button:after {
  content: "";
  background-color: #b45a82;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
}

.container-select-section button:hover::after {
  transform: scale(1);
}

.header-right-section {
  display: flex;
  gap: 20px;
  align-items: center;
}

.my-list-btn {
  text-decoration: none;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-weight: 500;
  background-color: #b45a82;
  font-size: 13px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.my-list-btn:hover {
  background-color: #813e5c;
}

.container-select-section-suppost {
  display: none;
  justify-content: start;
  gap: 20px;
  padding-bottom: 1px;
}

.container-select-section-suppost button {
  font-weight: 500;
  border: none;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
  background: transparent;
  position: relative;
}

.container-select-section-suppost button:after {
  content: "";
  background-color: #b45a82;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
}

.container-select-section-suppost button:hover::after {
  transform: scale(1);
}

@media (max-width: 595px) {
  .container-header-main {
    align-items: start;
  }

  .container-select-section {
    display: none;
  }

  .container-select-section-suppost {
    display: flex;
  }
}
