.container-search-section {
  width: 100%;
  height: 310px;
  position: relative;
}

.container-search-section img {
  object-position: 50% 20%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.background-layer {
  background-color: rgb(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
}

.container-search {
  display: flex;
  align-items: start;
  z-index: 1;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  padding-top: 35px;
  padding-left: 20px;
  padding-right: 20px;
}

.container-search h1 {
  color: white;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: -10px;
}

.container-search h2 {
  color: white;
  font-size: 22px;
  font-weight: 500;
}

.input-search {
  width: 100%;
  position: relative;
}

.input-search input {
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 50px;
}

.input-search button {
  position: absolute;
  right: 2px;
  top: 5%;
  display: flex;
  align-items: center;
  font-size: 13px;
  padding: 8px 12px;
  border-radius: 50px;
  border: none;
  font-weight: 500;
  background-color: #b45a82;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.input-search button:hover {
  background-color: #813e5c;
}

.container-option-genre {
  display: flex;
  width: 100%;
  margin-top: 10px;
  padding: 0 10px;
  gap: 13px;
  flex-wrap: wrap;
}

.option-genre-btn {
  border: none;
  background: transparent;
  color: white;
  font-family: Inter;
  font-weight: 250;
  font-size: 13px;
  border-radius: 50px;
  border: 1px solid white;
  padding: 3px 10px;
  cursor: pointer;
  transition:
    background-color 0.2s,
    border 0.2s;
}

.option-genre-btn:hover {
  background-color: #b45a82;
  border: 1px solid #b45a82;
}
