.container-detail-section-main {
  margin-top: 100px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  flex-direction: column;
}

.container-detail-header {
  width: 100%;
  max-width: 1150px;
  display: flex;
  align-items: end;
}

.container-detail-header h3 {
  font-weight: 550;
  flex-shrink: 0;
}

.container-detail-header div {
  width: 100%;
  height: 1.5px;
  margin-left: 10px;
  background-color: #989898;
  margin-bottom: 7px;
}

.container-detail-box {
  width: 100%;
  max-width: 1150px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1px;
  background-color: #eeee;
  padding: 1px;
}

.container-detail-box div {
  width: 100%;
  height: 100%;
  background-color: rgb(250, 250, 250);
  outline: 1px solid black;
  padding: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}

.container-detail-box div span {
  font-size: 10px;
  font-family: inter;
}

@media (max-width: 950px) {
  .container-detail-box {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 780px) {
  .container-detail-box {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 690px) {
  .container-detail-box {
    grid-template-columns: repeat(2, 1fr);
  }
}
