.container-header-main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container-header {
  display: flex;

  padding: 10px 10px;
  width: 100%;

  justify-content: space-between;
}

.header-left-section {
  display: flex;
  align-items: center;
  gap: 50px;
}

.link-home-page {
  text-decoration: none;
  color: black;
}

.box-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.box-logo img {
  width: 35px;
  height: 35px;
  margin-top: -10px;
}

.box-logo p {
  font-weight: 550;
  font-size: 16px;
  margin-left: -4px;
}

.box-logo p span {
  font-size: 21px;
}

.container-select-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.container-select-section button {
  font-weight: 500;
  border: none;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
  background: transparent;
  position: relative;
}

.container-select-section button:after {
  content: "";
  background-color: #b45a82;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
}

.container-select-section button:hover::after {
  transform: scale(1);
}

.header-right-section {
  display: flex;
  gap: 20px;
  align-items: center;
}

.review-btn {
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: transparent;
}

.review-btn img {
  width: 18px;
}

.change-language-btn {
  cursor: pointer;
  border: none;
  font-weight: 500;
  font-size: 12px;
  border: 1.5px solid black;
  background: transparent;
  border-radius: 5px;
}

.profile-user {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: rgb(227, 227, 227);
  border-radius: 50px;
}

.container-select-section-suppost {
  display: none;
  justify-content: start;
  gap: 20px;
  padding: 0 10px;
  padding-bottom: 1px;
}

.container-select-section-suppost button {
  font-weight: 500;
  border: none;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
  background: transparent;
  position: relative;
}

.container-select-section-suppost button:after {
  content: "";
  background-color: #b45a82;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
}

.container-select-section-suppost button:hover::after {
  transform: scale(1);
}

@media (max-width: 595px) {
  .container-select-section {
    display: none;
  }

  .container-select-section-suppost {
    display: none;
  }
}
